<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/favicon.ejs") %>
    <title>Medicare Group of Hospitals | <%= title %></title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <%- include("./partials/navbar.ejs") %>

    <header class="container"></header>

    <main><%- include("./partials/chat-btn.ejs") %></main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
