<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/favicon.ejs") %>
    <title>Medicare Group of Hospitals | <%= title %></title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <%- include("./partials/navbar.ejs") %>

    <header class="signin-header">
      <div class="signin-container">
        <form class="signin-form" action="">
          <h3><span>SIGN IN</span></h3>
          <div class="vertical-container">
            <label for="email">Username</label>
            <input type="email" />
          </div>
          <div class="vertical-container">
            <label for="password">Password</label>
            <input type="password" name="password" />
          </div>
          <div>
            <input type="checkbox" name="remember-me" id="" />
            <label for="checkbox">Remember Me</label>
          </div>

          <input type="submit" value="Sign In" class="btn" />
          <p>
            <span>Don't have an account?</span> <a href="/signup">Sign Up</a>
          </p>
        </form>
      </div>
    </header>

    <main><%- include("./partials/chat-btn.ejs") %></main>

    <%- include("./partials/footer.ejs") %>

    <!-- <div class="skew-box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fuga ab
      veniam libero possimus. Consequatur quas quia neque illo nobis!
    </div> -->
  </body>
</html>
