<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/favicon.ejs") %>
    <title>Medicare Group of Hospitals | <%= title %></title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <%- include("./partials/navbar.ejs") %>

    <header>
      <div class="signin-container">
        <!-- <img src="assets/hospital-svgrepo-com.svg" alt="" /> -->
        <form class="signin-form" action="">
          <h3><span>SIGN UP</span></h3>
          <div class="vertical-container">
            <label for="email">Username</label>
            <input type="email" />
          </div>
          <div class="vertical-container">
            <label for="password">Password</label>
            <input type="password" name="password" />
          </div>
          <div>
            <input type="checkbox" name="remember-me" id="" />
            <label for="remember-me">Remember me</label>
          </div>

          <input type="submit" value="Sign Up" class="btn" />
        </form>
      </div>
    </header>

    <main><%- include("./partials/chat-btn.ejs") %></main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
