<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("./partials/favicon.ejs") %>
    <title>Medicare Group of Hospitals | <%= title %></title>

    <link rel="stylesheet" href="css/styles.min.css" />
  </head>
  <body class="signin-body">
    <%- include("./partials/navbar.ejs") %>

    <header class="signin-header">
      <div class="signin-container">
        <form class="signin-form" action="/signin">
          <h3><span>SIGN IN</span></h3>
          <div class="vertical-container">
            <label for="email">Email</label>
            <input type="email" name="email" />
            <div class="email error"></div>
          </div>
          <div class="vertical-container">
            <label for="password">Password</label>
            <input type="password" name="password" />
            <div class="password error"></div>
          </div>
          <div>
            <input type="checkbox" name="remember-me" id="" />
            <label for="checkbox">Remember Me</label>
          </div>

          <input type="submit" value="Sign In" class="btn" />
          <p>
            <span>Don't have an account?</span> <a href="/signup">Sign Up</a>
          </p>
        </form>
      </div>
    </header>

    <main><%- include("./partials/chat-btn.ejs") %></main>

    <%- include("./partials/footer.ejs") %>

    <script>
      const form = document.querySelector('form');
      const emailError = document.querySelector('.email.error');
      const passwordError = document.querySelector('.password.error');

      form.addEventListener('submit', async (e) => {
        e.preventDefault(); // prevents page refresh

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get the values
        const email = form.email.value;
        const password = form.password.value;

        try {
          const res = await fetch('/signin', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' },
          });
          const data = await res.json();

          console.log(data);
          if (data.errors) {
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;
          }
          if (data.user) {
            location.assign('/');
          }
        } catch (err) {
          console.log(err);
        }
        // console.log(email, password);
      });
    </script>
  </body>
</html>
